<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ludomobileclientflutter">
    <application
        android:label="LudoMobileClientFlutter"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/LaunchTheme"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Needed for flutter_dotenv asset loading -->
        <meta-data android:name="flutter/assets"
            android:value=".env"/>
    </application>
</manifest>
